{% extends "base.html" %}
{% block content %}
<div style="font-size: 1.5em;">
  <h2 style="font-size: 2em; font-family: 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, 'Liberation Sans', sans-serif; font-weight: 700; letter-spacing: 1px; color: #2c3e50;">Welcome to the OCS Portal</h2>
  <p>You can view your open tickets that are currently in the system. You can update these tickets and even close these tickets out if you end up resolving the issue yourself. Just go to "Tickets->Open Tickets" to check these.</p>
</div>
{% endblock %}
