fastapi
uvicorn
jinja2
python-multipart
httpx
itsdangerous
sqlalchemy>=2.0.0
psycopg2-binary>=2.9.0
-e ./ocs_shared_models

# Authentication dependencies
msal>=1.24.0
python-jose[cryptography]
python-dotenv
passlib[bcrypt]
requests
